---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Layout pageTitle="About" />
<Navigation />
<div class="container-items">
  <h1>Контакты</h1>
  <div class="items">
    <div class="map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad673cd6f32368bf92abd46649c3dab91b674743a361fc01ff572589944dfaf4b&source=constructor"
        width="100%"
        height="400px"
        frameborder="0"></iframe>
    </div>
    <div class="contacts">
      <p class="phone contact">+375 29 625 00 30</p>
      <p class="working-hours">С 10:00 до 19:00 по будням GMT+3</p>
      <p class="mail contact">info@alfalab.by</p>
      <p class="adress">
        Г. Минск ул.Максима Танка 30/2 пом.97<br /> СЦ АльфаЛаб
      </p>
    </div>
  </div>
</div>
<Footer />

<Layout />

<style>
  .container-items {
    width: 70%;
    height: 52.5vh;
    margin: 50px auto;
  }
  .items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  h1 {
  }
  .map {
    width: 50%;
  }
  .contacts {
    margin-left: 50px;
  }
  .contact {
    color: rgb(80, 80, 80);
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
  }
</style>
