---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
---

<footer>
  <div class="row">

    <div class="left item">
      <ul>
        <li><a href="">Партнерам</a></li>
        <li><a href="">Гарантия</a></li>
        <li><a href="">Платный ремонт</a></li>
        <li><a href="">О компании</a></li>
        <li><a href="">Заказ запчастей</a></li>
      </ul>
    </div>

    <div class="middle item">
      <a href="/"><img src={logo.src} alt="Logo" width="250" height="250" /></a>
    </div>

    <div class="right item">
     <p>ООО «Простые технологии»</p>
      <p>УНП: 190984614 ОКПО: 377878515000</p>
      <p>Юридический и почтовый адрес для корреспонденции:<br> 220004, г. Минск, ул. М. Танка, д. 30 к. 2 пом. 97</p>
      <p>Email: info@alfalab.by</p>
    </div>

  </div>
</footer>

<style>
  footer{
    padding: 40px auto;
    background-color: #1f94d2;
    text-align: center;
  }
  .row  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction row;
  }
  .item{
    max-width: 25%;
    color: white;
  }
  .left ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .left ul li {
    padding: 15px 0;
  }
  .left ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  .middle img{
    max-width: 100%;
    height: auto;
  }
  @media (max-width: 500px)
  {
    .row{
      flex-direction: column;
    }
    .item{
      max-width: 100%;
    }
  }
</style>
