---

---

<footer>
  <div class="column">
    <ul>
      <li><a href="">Партнерам</a></li>
      <li><a href="">Гарантия</a></li>
      <li><a href="">Платный ремонт</a></li>
      <li><a href="">О компании</a></li>
      <li><a href="">Заказ запчастей</a></li>
    </ul>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .column ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .column ul li {
    padding: 15px 25px;
  }
  .column ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
</style>
