---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
---

<nav>
  <a href="#"><Image src={logo} alt="Logo" width="120" height="120" /></a>
  <ul class="navigation">
    <li><a href="#">Каталог</a></li>
    <li><a href="#">Гарантия</a></li>
    <li><a href="#">Контакты</a></li>
    <li><a href="#">Полезное</a></li>
  </ul>
</nav>

<style>
  nav {
    height: 10vh;
    background-color: #1f94d2;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0, .25);
  }
  .navigation {
    margin: 0;
    margin-right: 120px;
    padding-left: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  nav a img{
    margin-left: 20px;
  }
  li {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  li a {
    padding: 0 50px;
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  li a:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
</style>
