---

---

<div class="questions-section">
  <div class="left">
    <p>Не нашли в списке свой вид техники или появились вопросы?</p>
  </div>
  <div class="right">
    <p class="right-text">
      Специалисты нашей компании вас проконсультируют и ответят на все ваши
      вопросы!
    </p>
    <p class="right-number">+375 29 625 00 30</p>
  </div>
</div>

<style>
  .questions-section {
    min-width: 75%;
    max-width: 75%;
    height: 100%;
    margin: 50px auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(80, 80, 80, 0.05);
    border-radius: 20px;
  }
  .left {
    color: #1f94d2;
    font-weight: bold;
    font-size: 32px;
    max-width: 45%;
    padding: 40px 20px;
  }
  .left p {
    margin: 0;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45%;
    border-left: 1px solid lightgray;
    padding: 20px 20px;
  }
  .right p {
    margin: 0;
  }
  .right-text {
    color: gray;
    font-size: 18px;
  }
  .right-number {
    padding-top: 10px;
    color: rgb(80, 80, 80);
    font-size: 26px;
    font-weight: bold;
  }
  @media (max-width: 600px) {
    .questions-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 80%;
      text-align: center;
    }
    .right,
    .left {
      max-width: 100%;
      border: none;
      padding: 10px 0;
    }
  }
  @media (max-width: 800px) {
    .right-number {
      font-size: 22px;
    }
  }
</style>
