---

---

<div class="questions-section">
  <div class="left">
    <p>Не нашли в списке свой вид техники или появились вопросы?</p>
  </div>
  <div class="right">
    <p class="right-text">
      Специалисты нашей компании вас проконсультируют и ответят на все ваши
      вопросы!
    </p>
    <p class="right-number">+375 29 625 00 30</p>
  </div>
</div>

<style>
  .questions-section {
    max-width: 90%;
    margin: 0 auto;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .left {
    color: #1f94d2;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 36px;
    max-width: 50%;
  }
  .left p{
    margin: 0;
  }
  .right {
    max-width: 50%;
  }
  .right p{
    margin: 0;
  }
  .right-text {
    color: gray;
    font-family: Roboto, sans-serif;
    font-size: 22px;
  }
  .right-number {
    color: rgb(80, 80, 80);
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: bold;
  }
</style>
